section {
    background-color: silver;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

article {

}

.blue {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gold;
    font-size: 60px;
    background-color: blue;
    height: 200px;
}

.green {
    background-color: green;
    width: 50%;
    height: 400px;
}

.red {
    background-color: red;
    width: 33%;
    height: 400px;
}

.black {
    background-color: black;
    color: gold;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 400px;
}

.black2 {
    background-color: black;
    width: 33%;
    height: 400px;
}

img {
    height: 150px;
    width: auto;
    padding-left: 30px;
    padding-top: 50px;
}

.Leia {
    padding-top: 20px;
}

p {
    padding: 15px;
}

.brown {
    background-color: tan;
    width: auto;
    height: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.tan {
    background-color: brown;
    width: auto;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.light-brown {
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dark-brown {
    background-color: saddlebrown;
    width: auto;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.beige {
    background-color: chocolate;
    width: auto;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: silver;
}

ul {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.yellow {
    background-color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.black3 {
    background-color: black;
    height: 300px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.gray {
    background-color: gray;
    height: 300px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.purple {
    background-color: purple;
    height: 300px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.gray2 {
    background-color: silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
    .w-md-25 {
        width: 25%;
    }
}

@media (min-width: 768px) {
    .w-md-50 {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .w-md-33 {
        width: 33%;
    }
}